<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>polypoly.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8CF0AF629FE41610056A94D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CF0B0F29FE41640056A94D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CF0B1929FE41640056A94D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
